* {
  font-family: sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  list-style-type: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  background: linear-gradient(black 0%, rgb(192, 42, 77) 70%, rgb(255, 175, 92) 100%);
  margin: 0;
  background-repeat: no-repeat;
  background-size: 600% 600%;
  animation: fadeInAnimation ease-out 1.5s forwards;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 125px;
}

.sticky {
  position: sticky;
  font-size: 32px;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 1em 0;
  text-align: center;
  transition: 0.32s;
}

.fixed {
  font-size: 24px;
  position: fixed;
  height: 20px;
  background: linear-gradient(black 100%, black 50%, transparent 0%);
  transition: 0.25s;
}
