@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  font-family: sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  list-style-type: none;
}

nav {
  display: inline;
  z-index: 3;
}

li {
  float: left;
}

li + li {
  margin-left: 1vw;
}

body {
  /*background-image: linear-gradient(black 0%, #c22b4fff 50%, #ffaf5cff 100%);*/
  /*overflow: hidden;*/
  height: 100%;
  background: linear-gradient(180deg, black 0%, #c22b4fff 50%, #ffaf5cff 100%);
  background-size: 600% 600%;
  animation: fadeInAnimation ease-out 1.5s forwards;
  animation-iteration-count: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 125px;
  background: linear-gradient(transparent 0%, black 100%);
}

#topButton {
  height: 2vw;
  width: 2vw;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-image: linear-gradient(#c22b4fff 0%, #ffaf5cff 100%);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.header-layout {
  margin-top: 2.5vw;
  display: flex;
  flex-direction: column;
  margin-left: 2.5% !important;
  background: transparent;
}

.brandlogo {
  height: 5.5vw;
}

.banner {
  height: 100%;
  width: 35%;
}

.vector {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  background: transparent;
  border-color: transparent;
}

.sticky {
  position: sticky;
  font-size: 32px;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 1em 0;
  text-align: center;
  transition: 0.32s;
}

.fixed {
  font-size: 24px;
  position: fixed;
  height: 20px;
  background: linear-gradient(black 100%, black 50%, transparent 0%);
  transition: 0.25s;
}
