@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.brandlogo:hover {
  animation: fadeIn ease-in-out alternate infinite 1s;
}

/*default link hover animations*/
/*
.link{
    position: relative;
}

.link::before{
    content: attr(data-text);
    position: absolute;
    color: grey;
    overflow: hidden;
    width: 0%;
    transition: 0.5s;
}

.link:hover::before {
    width: 100%;
    transition: 0.75s;
}

#topButton:hover {
    animation: fadeIn ease-out 0.5s forwards;
}

.vector:hover{
    filter: opacity(0.5);
    transition: filter .4s ease-in-out;
}
*/
