.brandlogo {
  height: 5.5vw;
}

.banner {
  height: 100%;
  width: 35%;
}

.vector {
  height: 30px;
  width: 30px;
  color: white;
  background: transparent;
  border-color: transparent;
}

.navlink {
  color: white;
  font-family: Kome;
}

.navlink:hover {
  color: black;
  transition: 0.25s;
}

.pagecontent {
  display: grid;
}

.pagecontent_section {
  text-align: left;
  margin-top: 12rem;
}
